Pandas
======

# What is Data Science?

Process of analzing larget set of data datapoints to get answers or questions related to that dataset.

**Pandas makes doing data science easy**

In [ ]:
import pandas as pd
import numpy as np

### Different Way of creating dataframe

### From Tuple

In [ ]:
weather_tuple = [
    ('1/1/2019',32,6,'Rain'),
    ('1/2/2019',35,7,'Sunny'),
    ('1/3/2019',28,2,'Snow'),
    ('1/4/2019',24,7,'Snow'),
    ('1/5/2019',32,4,'Rain'),
    ('1/6/2019',31,2,'Sunny')
]
dataframe = pd.DataFrame(weather_tuple,columns=['day','temperature','windspeed','event'])
dataframe.head()

#### From Dictionary

In [ ]:
weather_dict = {
    'day' : ['1/1/2019','1/2/2019','1/3/2019','1/4/2019','1/5/2019','1/6/2019'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
dataframe = pd.DataFrame(weather_dict)
dataframe

#### From List of Dictionaries

In [ ]:
weather_list_dict = [
    {'day':'1/1/2019','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2019','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2019','temperature':28,'windspeed':2,'event':'Snow'},
    {'day':'1/4/2019','temperature':24,'windspeed':7,'event':'Snow'},
    {'day':'1/5/2019','temperature':32,'windspeed':4,'event':'Rain'},
    {'day':'1/6/2019','temperature':31,'windspeed':2,'event':'Sunny'}
]

dataframe = pd.DataFrame(weather_list_dict)
dataframe.head()

#### From Excel

In [ ]:
dataframe = pd.read_excel('data/nyc_weather.xlsx')
print('Total number of rows',len(dataframe))
print('Top 5 rows')
dataframe.head()

#### From CSV

In [ ]:
dataframe = pd.read_csv('data/nyc_weather.csv')
print('Total number of rows',len(dataframe))
print('Top 5 rows')
dataframe.head()

### DataFrame basic operations

#### Shape of a dataframe (dimentions = row , columns)

In [ ]:
nrows, ncolumns = dataframe.shape
print('Number of rows',nrows)
print('Number of columns',ncolumns)
print('Shape ',dataframe.shape)

#### Access top n rows of dataframe

In [ ]:
dataframe.head(5) ## n == 5

#### Access bottom n rows of dataframe

In [ ]:
dataframe.tail(5) ## n == 5

#### Access rows using index

In [ ]:
dataframe[2:5] ## start with index 2 and go till 2+(5-2)-1 rows

In [ ]:
dataframe[:4] ## start with index 0 and go till 0+(4-0)-1 rows

In [ ]:
dataframe[25:] ## start with index 25 and go till 25+(len(dataframe)-25)-1 rows

In [ ]:
dataframe[:] ## start with index 0 and go till len(dataframe)-1 rows

#### Access columns

In [ ]:
dataframe.columns ## Gives the list containing all columns

In [ ]:
dataframe.EST.head() ## Get all values in column EST

In [ ]:
dataframe[['EST','DewPoint']].head() ## Get all values in column EST, Dewpoint

#### Basic Stats on the dataset

In [ ]:
tdf = dataframe['Temperature']
print('**describe',tdf.describe(),'**')
print('max',tdf.max())
print('min',tdf.min())
print('mean',tdf.mean())

#### Print the row with maximum temparature

In [ ]:
dataframe[dataframe['Temperature'] == dataframe['Temperature'].max()]

#### Print the dates and temperature where the DewPoint was higher than average

In [ ]:
dew_point_mean = dataframe['DewPoint'].mean()
result_dataframe = dataframe[['EST','Temperature','DewPoint']][dataframe['DewPoint']>dew_point_mean]
result_dataframe['Mean DewPoint']=dew_point_mean
result_dataframe

#### Change the index
Sometimes it becomes very helpful if we can have the index of the dataframe changed from the sequence to some thing more meaningful like a date.

**This is like creating new index on a table so that the retrival would be very fast**

In that scenario, we can use the set_index to do the same.
there is a function called reset_index to reset the index back to normal sequence

In [ ]:
dataframe_EST_index = dataframe.set_index('EST')
dataframe_EST_index.head()

In [ ]:
dataframe_EST_index.loc['1/2/2016']

In [ ]:
dataframe_EST_index = dataframe.reset_index()
dataframe_EST_index.head()

### Extracting data to CSV & Excel

We can push the data of the dataframe to CSV or Excel.

In [ ]:
## Create csv file
import datetime
outputfile_csv = 'data/test_'+datetime.datetime.now().strftime("%Y-%m-%d")+".csv"
dataframe.head().to_csv(outputfile_csv)
print('Check the file at ',outputfile_csv)

In [ ]:
## Cleanup csv file
import os
os.remove(outputfile_csv)

In [ ]:
## Create Excel File
import datetime
outputfile_xlsx = 'data/test_'+datetime.datetime.now().strftime("%Y-%m-%d")+".xlsx"
dataframe.head().to_excel(outputfile_xlsx)
print('Check the file at ',outputfile_xlsx)

In [ ]:
## Cleanup Excel file
import os
os.remove(outputfile_xlsx)

### Fixing Not Available data issues

Some times we would have data which might not have consistent inputs or blank or have different values of not available for different columns.

For example, imagine data like below

In [ ]:
sample_data_na = [
    ('GOOGL',27.82,87,845,'Larry Page'),
    ('WMT',4.61,484,65,'n.a.'),
    ('MSFT',-1,85,64,'Bill Gates'),
    ('RIL','not avaiable',50,1023,'Mukesh Ambani'),
    ('TATA',5.6,-1,'n.a','Ratan Tata')
]
na_dataframe = pd.DataFrame(sample_data_na, columns=['tickers','eps','revenue','price','people'])
na_dataframe

In [ ]:
## to convert n.a. and not available to NaN
na_dataframe.replace(['not avaiable','n.a','n.a.'], np.NaN)

In [ ]:
## Lets take an example here about revenue with value of -1 should be NaN but eps with the same value is fine
na_dataframe.loc[na_dataframe['revenue'] == -1, 'revenue'] = np.NaN
na_dataframe

In [68]:
## Another way to do the above is using converters
## To be writtern yet

In [88]:
dataframe = pd.read_csv('data/nyc_weather.csv', parse_dates=['EST'])
dataframe.set_index('EST', inplace=True)
dataframe = dataframe.fillna(value={'WindSpeedMPH': 0})
dataframe[['Events']] = dataframe[['Events']].fillna(method='bfill')
dataframe[['Events']] = dataframe[['Events']].fillna(method='ffill')
dataframe
#t_dataframe['Events'] = t_dataframe[['Events']].fillna(method='ffill').fillna(method='bfill')
#t_dataframe

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,Rain,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,Rain,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,Rain,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,Rain,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,Rain,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,Rain,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,Rain,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,Rain,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,0.0,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
2016-01-22,26,6,41,30.21,9,0.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Rain,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Rain,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241